body {
    min-width:900px;
    margin: 0 auto;
    background:radial-gradient(circle,grey,#e7dfdd, #0e0b16);
}

.yellow,.red,.green,.blue,.purple {
    border-radius:90px;
    box-shadow: 3px 3px 3px black;
}
.yellow {
    background-color: yellow;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.purple {
    background-color: purple;
    margin-bottom: 50px;
}
.blue {
    background-color: blue;
    margin-bottom: 20px;
    margin-left: 44.33333333%;
    padding-bottom: 0px;
}

.title {
    text-align: center;
    font-weight: 800;
    padding-bottom: 40px;
    background: linear-gradient(#a239ca, whitesmoke);
    margin:0 auto; 
    color:whitesmoke;
    font-family:'Imprima', serif;
    text-shadow: 2px 2px black;
    text-transform: uppercase;
    opacity: .6;
}

.scores {
    text-align: left;
    font-size:20px;
    margin-bottom: 40px;
    font-weight: 650;
    color: whitesmoke;
    text-align: center;
    font-family:'Bree Serif', serif;
    text-shadow:2px 1px black;
}

.circle {
    height:150px;
    width:150px;
    border-radius: 50%;
    opacity: .5;  
}

.startbutton {
    margin-top: 30px;
    padding: 0 50px;
    color: whitesmoke;
}
#count {
    text-align: center;
}