body {
    margin: 0 auto;
    background: black;
}
.indigo,.red,.teal,.blue,.cyan {
    border-radius:90px;
    box-shadow: 5px 5px 5px white;
}
.stats-container {
    display: flex;
    justify-content: 'space-between';
}

.container {
    max-width: 1200px !important;
}

.blue {
    background-color: #007bff;
}
.indigo {
    background-color: #6610f2;
}
.red {
    background-color: #dc3545;
}
.teal {
    background-color: #20c997;
}
.cyan {
    background-color: #17a2b8;
}
.title {
    text-align: center;
    font-weight: 800;
    padding-bottom: 40px;
    margin:0 auto; 
    color:whitesmoke;
    font-family:'Imprima', serif;
    text-shadow: 2px 2px black;
    text-transform: uppercase;
}
.scores {
    text-align: left;
    font-size:20px;
    margin-bottom: 40px;
    font-weight: 650;
    color: whitesmoke;
    text-align: center;
    font-family:'Bree Serif', serif;
}
.circle {
    height:150px;
    width:150px;
    border-radius: 50%;
    opacity: .6;
    text-shadow: 0 0 3px #000000;
    box-shadow:3px 5px 50px grey;
}
#count {
    text-align: center;
}
@media screen and (max-width:800px) {
    .circle {
        width: 85px;
        height:85px;
    }
}
@media screen and (max-width:500px) {
    .circle {
        width: 70px;
        height:70px;
    }
    .scores {
        font-size:1em;
    }
    h1.title {
        font-size:3em;
        padding:0px;
    }
}