body {
    min-width:900px;
    margin: 0 auto;
    background: black;
}
.yellow,.red,.green,.blue,.purple {
    border-radius:90px;
    box-shadow: 5px 5px 5px white;
}
.bottom-margin {
    margin-bottom:2%;
}
.title {
    text-align: center;
    font-weight: 800;
    padding-bottom: 40px;
    background: linear-gradient(#a239ca, whitesmoke);
    margin:0 auto; 
    color:whitesmoke;
    font-family:'Imprima', serif;
    text-shadow: 2px 2px black;
    text-transform: uppercase;
}
.scores {
    text-align: left;
    font-size:20px;
    margin-bottom: 40px;
    font-weight: 650;
    color: whitesmoke;
    text-align: center;
    font-family:'Bree Serif', serif;
}
.circle {
    height:150px;
    width:150px;
    border-radius: 50%;
    opacity: .6;
    text-shadow: 0 0 3px #000000;
    box-shadow:3px 5px 50px grey;
}
.startbutton {
    margin-top: 30px;
    padding: 0 50px;
    color: whitesmoke;
}
#count {
    text-align: center;
}